// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.site-header {
  color: $text-color;
  padding: 1.5em;
}

.site-title {
  @include font-size(2);
  margin: 0;
  @media (min-width: 1000px) {
    @include font-size(3);
  }
}
.site-subhead,
.site-location {
  @include font-size(1.4);
  font-family: $space-mono;
  margin: 0;
}

.site-location {
  color: $brand-color;
}

@media screen and (min-width: 700px) {
  .site-header {
    display: flex;
  }
  .site-title {
    width: ((5 / 12) * 100%);
  }
}
