.projects-list,
.experience-list {
  list-style: none;
  padding: 0;
  margin: 3em 0;
}

.l-project,
.l-experience {
  border-top: 1px solid $light-grey;
  padding-bottom: 3em;
  padding-top: .75em;
}


.l-project-title h2 {
  margin-bottom: 0;
  @include font-size(2);
}

.l-project-link {
  display:inline-block;
  text-decoration: none;
  color: $text-color;
  position: relative;
  h2 {
    display: inline;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, $brand-color 50%);
    background-position: 0 0;
    background-size: 200.1%;
    transition: background-position 0.3s ease-in-out;
  }
  &:hover h2 {
    background-position: -100% 0;
  }

  &:hover h2::after {
    transform: translateY(10%) scaleX(1);
  }
}

.l-project-description {
  margin: 0;
}

.l-project-tags {
  font-family: $space-mono;
  @include font-size(1.4);
  margin-top: 10px;
}

.l-project-tag {
  background-color: $brand-color;
  padding: 2px 5px 3px 5px;
  border-radius: 2px;
}

@media (min-width: 700px) {
  .l-project {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(12, 1fr);
  }
  .l-project-title {
    grid-column-start: 1;
    grid-column: 1 / span 5;
  }
  .l-project-description {
    grid-column: 6 / span 5;
  }
  .l-project-tags {
    margin-left: auto;
    grid-column: 11 / span 2;
  }
}

.l-experience-company h2 {
  margin-bottom: 0;
  color: $brand-color;
}

.l-experience-title {
  @include font-size(2);
  margin: 0;
}

.l-experience-dates {
  font-family: $space-mono;
  margin: 0;
}


@media (min-width: 700px) {
  .l-experience {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
  }
  .l-experience-title,
  .l-experience-company,
  .l-experience-dates {
    grid-column: 1 / span 5;
  }
  .l-experience-description {
    grid-column: 6 / span 7;
    grid-row: 1 / span 3;
  }
}
