@media (min-width: 700px) {
  .software-project {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(12, 1fr);
  }
  .s-project__content {
    // grid-column-start: 7;
    grid-column: 1 / span 5;
    padding-right: 2em;
  }
  .s-project__images {
    // grid-column-start: 1;
    grid-column: 6 / span 7;
    grid-row: 1;
    img {
      max-width: 100%;
    }
  }
}

.software-project {
  margin-bottom: 2em;
}