// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$color__green: #0ce5a9;
$color__black: #424242;

$karla: 'Karla', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$space-mono: 'Space Mono', monospace;
$sporting: 'Sporting Grotesque_Regular', 'Helvetica', 'Arial', sans-serif;

/// Regular font family
/// @type List
$text-font-stack: $karla !default;
$mono-font: $space-mono !default;
$display-font: $sporting !default;

/// Copy text color
/// @type Color
$text-color: $color__black !default;

/// Main brand color
/// @type Color
$brand-color: $color__green !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
